.header{
  display: flex;
  position: fixed;
  gap: 10px;
  height: 70px;
  background-color: #028B71;
  width: 100vw;
  padding: 0 3rem;
  align-items: center;
}

.title{
  color: white;
  font-size: 1.8rem;
}

.header img{
  max-height: 40px;
}

.title span{
  color: #74E5C4;
}

@media (max-width: 500px) {
  .title{
    font-size: 1.3rem;
    margin-top: 8px;
  }
  .header{
    padding: 0 1rem;
  }
}